<iframe [src]="playlistEmbedUrl" width="600" frameborder="0" allow="encrypted-media" allowtransparency="true">
</iframe>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Track</th>
      <th scope="col">Artist</th>
      <th scope="col">Match</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let track of tracks">
      <th scope="row">{{track.name}}</th>
      <td>{{track.artist}}</td>
      <td>
        <iframe *ngIf='track.spotifyId' [src]="trackEmbedUrl(track)" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
        <span *ngIf='!track.spotifyId' class="badge badge-warning">No Match</span>
      </td>
    </tr>
  </tbody>
</table>
