<div *ngIf="loggedIn">
  <h2>Add Set</h2>
  <div *ngIf="form.error" class="alert alert-danger" role="alert">
    {{form.error}}
  </div>
  <aw-wizard [navigationMode]="strict">
    <aw-wizard-step stepTitle="Initial Import" (stepExit)="form.createSet()">
      <app-add-initial-form #form></app-add-initial-form>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Correct Matches">
      <div *ngIf="form.result">
        <app-add-correct-matches [set]='form.result.set' [tracks]='form.result.tracks'></app-add-correct-matches>
      </div>
      <button type="button" class="btn btn-success" awNextStep>Next</button>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="Summary">
      Content of Step 3
      <button type="button" (click)="finishFunction()">Finish</button>
    </aw-wizard-step>
  </aw-wizard>
</div>
