<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">As Played By Admin</span>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
