<form (ngSubmit)="onSubmit()" #setForm="ngForm">
  <div class="form-group">
    <label for="name">Set Name</label>
    <input type="text" [(ngModel)]="model.name" class="form-control" name="name" required>
  </div>

  <div class="form-group">
    <label for="alterEgo">Played On</label>
    <input type="datetime-local" [(ngModel)]="model.playedAt" class="form-control" name="playedAt" required>
  </div>

  <div class="form-group">
    <label for="alterEgo">Played By</label>
    <input type="text" class="form-control" [(ngModel)]="model.playedBy" name="playedBy" required>
  </div>

  <div class="form-group">
    <label for="alterEgo">Set List</label>
    <textarea class="form-control" [(ngModel)]="model.setList" name="setList" required></textarea>
  </div>
  <button type="button" class="btn btn-success" [disabled]="!setForm.form.valid" awNextStep>Next</button>
</form>
